body{
  text-align: center;
  font-family: Helvetica;
}
nav{
  font-size: 18px
}
a{
  text-decoration: none;
  text-decoration: underline;
}
h1, .background h3, a, .footer {
  color: white
}
h1{
  font-size: 70px;
  font-weight: bold;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight:bold;
}
p{
  font-size: 14px
}
.background{
  background-image: url("./../images/background.png");
}
.footer{
  text-align: left;
  background-color: dimgray;
}
.logo{
  font-size: 11px;
}
